@tailwind components;

.credentials {
  height: 100%;
  margin: auto 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #7e4ccb;
  justify-content: center;
  align-items: center;
}

.formCredentials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  h1 {
    padding: 30px 0 20px 0;
  }
  .inputError {
    border: 2px solid #900e0e;
    .label {
      color: #900e0e;
    }
  }
}

.redirect {
  margin-top: 5%;
}
@layer components {
  .credentialsInput {
    @apply my-2;
  }
}

@media (min-width: 1300px) {
  .formCredentials {
    width: 58%;
  }
}
@media (min-width: 1990px) {
  .formCredentials {
    width: 48%;
  }
}
