.credentials {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.formCredentials {
  background-color: rgb(139, 76, 150);
  width: 78%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 20px;

  h1 {
    padding: 40px 0;
  }
}

@media (min-width: 1300px) {
  .formCredentials {
    width: 58%;
    height: auto;
  }
}
@media (min-width: 1990px) {
  .formCredentials {
    width: 48%;
    height: auto;
  }
}

.fields {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px 0 25px 0;

  label {
    margin-right: 10px;
    width: 53px;
  }
  input {
    color: #fff;
    padding: 6px 10px;
    background-color: #2d2828;
    width: 100%;
  }
}

.button {
  color: #fff;
  border-radius: 10px;
  padding: 5px 0;
  width: 80%;
  background-color: #2d2828;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  margin-bottom: 20px;
  transition: 0.3s ease-in;
}

.button:hover {
  background-color: rgb(21, 20, 20);
}

.buttonShow {
  background-color: #2d2828;
  color: #fff;
  border: 0;
  margin-left: 5px;
  border-radius: 15px;
  padding: 3px 6px;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.3s ease-in;
}
.buttonShow:hover {
  background-color: rgb(21, 20, 20);
}
