.home {
  height: 100%;
  width: 100%;
  margin: 0;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 3%;

  h1 {
    display: none;
  }
}

.searchBox {
  height: 60px;
  display: flex;
  background-color: #353535;
  line-height: 40px;
  padding: 10px 15px;
  border-radius: 60px;
  cursor: pointer;
}

.searchInput {
  background-color: #353535;
  color: #fff;
  outline: none;
  border: none;
  line-height: 40px;
  width: 0px;
  float: left;
  font-size: 1em;
  transition: 0.7s ease;
}

.searchBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #353535;
  padding: 12px;
  float: right;
  border-radius: 50%;
  color: #7e4ccb;
  transition: 0.4s ease;
}

.searchBox:hover > .searchInput,
.searchInput:focus {
  width: 200px;
  margin: 0px 8px;
}

@media (min-width: 750px) {
  .header h1 {
    display: block;
    color: #7e4ccb;
    font-size: 35px;
    padding: 0 15px;
    border-radius: 3px;
    border: 3px solid #7e4ccb;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
  }
  .searchBox {
    width: 400px;
  }
  .searchBox:hover > .searchInput,
  .searchInput:focus {
    width: 400px;
  }
}
.searchBox:hover > .searchBtn,
.searchInput:focus + .searchBtn {
  background-color: #7e4ccb;
  color: #fff;
}

.homeMain {
  padding: 3% 5% 0 5%;
}

.busDescription {
  margin-top: 2%;
  p {
    font-size: 20px;
  }
}

.busList {
  margin-top: 2%;
}

.busList p {
  font-size: 30px;
}

.list {
  margin: 4% 0;
  border: 3px solid #7e4ccb;
  border-radius: 5px;
  max-height: 400px;
  overflow: auto;

  p {
    text-align: center;
    padding: 5px;
  }
}

.listItem {
  border-bottom: #7e4ccb 4px solid;
  padding: 2% 1%;
  display: flex;
  width: 100rem;
  min-height: 70px;
}

.listItem:last-child {
  border-bottom: 0;
}

.fieldItem {
  border-left: #664b8e 1px solid;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  padding: 0 4%;
  margin: auto;

  b {
    font-size: 18px;
  }
}

.fieldItem:last-child {
  border-right: #664b8e 1px solid;
}

@media (min-width: 1100px) {
  .list {
    margin: 10px 0;
  }
}

.busList > p,
.busDescription > p {
  color: #7e4ccb;
}
