.not {
  font-size: 30px;
}
.listAll > h1 {
  font-size: 30px;
  color: #7e4ccb;
  border-bottom: #7e4ccb 2px solid;
}

.list {
  margin: 4% 0 0 10%;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  p {
    text-align: center;
    padding: 5px;
  }
}
.item {
  margin: 20px 0;
  border-radius: 5px;
  width: 100%;
  overflow: auto;
}

.item:first-child {
  margin-top: 0;
}

.listAll {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .list {
    flex-direction: row;
  }
}
