.home {
  height: 100%;
  width: 100%;
}

.section {
  width: 100%;

  .main {
    margin-top: 15%;
    padding: 0 9%;
    width: 100%;

    .paragraph {
      font-size: 20px;
      max-width: 550px;
    }
  }
}
@media (min-width: 780px) {
  .section .main {
    margin-top: 20px;
    svg {
      height: 29rem;
    }
  }
}

.paragraph:hover,
.title:hover {
  color: #a8a8a8;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.3s ease-in;
}
.buttonRegister {
  width: 30%;
  background-color: #7e4ccb;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.3s ease-in;
}

.buttonRegister:hover {
  background-color: #6d2fca;
}
