@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #2a292c;
  color: #fff;
}

#__next {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #343434;
}

::-webkit-scrollbar-thumb {
  background-color: #7e4ccb;
  border-radius: 5px;
}

input {
  outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #272530 inset;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
}

#hidenLdsEllipsis {
  display: none !important;
}

#lds-ellipsis {
  display: flex;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #2a292c;
}

.col-lg-1 {
  -webkit-box-flex: 0;
  flex: 0 0 8%;
  max-width: 8%;
}
.col-lg-2 {
  -webkit-box-flex: 0;
  flex: 0 0 16%;
  max-width: 16%;
}
.col-lg-3 {
  -webkit-box-flex: 0;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-lg-4 {
  -webkit-box-flex: 0;
  flex: 0 0 33%;
  max-width: 33%;
}
.col-lg-5 {
  -webkit-box-flex: 0;
  flex: 0 0 41%;
  max-width: 41%;
}
.col-lg-6 {
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-lg-7 {
  -webkit-box-flex: 0;
  flex: 0 0 58%;
  max-width: 58%;
}
.col-lg-8 {
  -webkit-box-flex: 0;
  flex: 0 0 66%;
  max-width: 66%;
}
.col-lg-9 {
  -webkit-box-flex: 0;
  flex: 0 0 75%;
  max-width: 75%;
}
.col-lg-10 {
  -webkit-box-flex: 0;
  flex: 0 0 83%;
  max-width: 83%;
}
.col-lg-11 {
  -webkit-box-flex: 0;
  flex: 0 0 91%;
  max-width: 91%;
}
.col-lg-12 {
  -webkit-box-flex: 0;
  flex: 0 0 100%;
  max-width: 100%;
}
