.home {
  height: 100%;
  width: 100%;
}

.section {
  width: 100%;

  .main {
    margin-top: 15%;
    padding: 0 9%;
    width: 100%;

    .title {
    }
    .paragraph {
      font-size: 20px;
      max-width: 550px;
    }
  }
}
@media (min-width: 720px) {
  .section .main {
    margin-top: 0;
  }
}

.paragraph:hover,
.title:hover {
  color: #a8a8a8;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.3s ease-in;
}
.buttonRegister {
  width: 30%;
  background-color: rgb(159, 50, 179);
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.3s ease-in;
}

.buttonRegister:hover {
  background-color: rgb(155, 16, 179);
}
