.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #7e4ccb;
  border-radius: 5px;
  height: 100%;

  .tableHeader {
    padding: 10px 20px;
    border-bottom: #7e4ccb 1px solid;
    display: flex;
    background-color: #2a292c;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 100px;
    border-bottom: 1;
    h1 {
      font-size: 30px;
    }
  }

  .tableSection {
    display: flex;
    overflow: auto;
    margin: 0 20px;
    height: 100%;
    background-color: #2a292c;
    width: 100%;
    flex-direction: column;

    .tableSectionHeader {
      height: 100%;
      padding: 10px;
      background-color: #7e4ccb;
      border-bottom: 1px solid #7e4ccb;
      display: flex;
      justify-content: center;
      width: 100%;
      .columnHeader {
        justify-content: center;
        display: flex;
        height: 45px;
        align-items: center;
        flex-direction: row;
      }
    }

    .tableSectionBody {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .columnRow {
        min-height: 88px;
        max-height: 88px;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100%;
      }
    }
  }
  .tableFooter {
    background-color: #2a292c;
    border-top: #7e4ccb 4px solid;
    width: 100%;
    display: flex;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
  }
}
