.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section > h1 {
  border-bottom: #7e4ccb 2px solid;
  padding-bottom: 5px;
  color: #7e4ccb;
}

.field {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.back {
  padding: 10px 20px;
  border: #7e4ccb 1px solid;
  color: #7e4ccb;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  width: auto;
  border-radius: 5px;
}

.back:hover {
  background-color: #7e4ccb;
  color: rgb(210, 210, 210);
  border-radius: 5px;
  box-shadow: 0 0 5px #7e4ccb, 0 0 25px #7e4ccb, 0 0 50px #7e4ccb,
    0 0 100px #7e4ccb;
}
